/* Noto Sans KR 폰트 임포트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-items: center;
  background: white !important;
  font-family: 'Noto Sans KR', sans-serif; 
}